<a href="#proyectos" class="text-decoration-none">
<div class="card apple-card mt-4 mb-0 banner proyectos">
    <div class="d-block">
        <div class="row">
            <div class="col icon-container">
                <div class="container animate">
                    <i class="fa-solid fa-arrow-right-long custom-icon"></i>
                </div>
            </div>
            <div class="col icon-container">
                <h2 class="mis">Mis Proyectos</h2>
            </div>
        </div>
    </div>
</div>
</a>

<a href="#contacto" class="text-decoration-none">
<div class="card apple-card mt-4 mb-0 banner contacto custom-especials">
    <div class="d-block">
        <div class="row">
            <div class="col icon-container pr-0">
                <h2 class="contac">¿Quieres Hablar? Envíame un Mensaje</h2>
            </div>
            <div class="col icon-container">
                <div class="container animate">
                    <i class="fas fa-paper-plane paper-airplane"></i>
                  </div>
                  <p class="m-0 p-0 email">{{ perfil.email }}</p>
            </div>
        </div>
    </div>
</div>
</a>

