<!-- tambien los lenguajes que domines los podrias incluir en tu modelo y luego solo traerlos aca-->
<div class="card apple-card lenguajes">
    <div class="d-block custom-especial">
        <div class="row">
            <div class="col icon-container">
                <i class="fab fa-python"></i>
                <p class="m-0">Python</p>
            </div>
            <div class="col icon-container">
                <i class="fab fa-js"></i>
                <p>JavaScript</p>
            </div>
            <div class="col icon-container">
                <i class="fab fa-html5"></i>
                <p class="m-0">HTML</p>
            </div>
        </div>
    </div>
</div>
